/*==================== reset ==================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, select, input, textarea, p, 
blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ margin: 0;padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
table{border-collapse:collapse;border-spacing:0;}
i,em{font-style: normal;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
button,input,select,textarea{font-size:100%}

/*==================== base ==================*/
body{font:14px/1.5 Helvetica,tahoma,arial,\5b8b\4f53;color:#555;-webkit-text-size-adjust:none;background: #f1f1f1;}
select,input{color: #555;}
a{text-decoration:none;color:#555;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;}

/*==================== 内容主体 ==================*/
.xcontainer{margin: auto;overflow-x:hidden;}

.xcontent{padding-bottom: 50px;display: -webkit-box;}
.xcontent_section{-webkit-box-flex:1;width: 100%;}

/*==================== 图片浏览 ==================*/
	.xgallery{background: #fff;}
		.xgallery_wrap{height: 200px;overflow: hidden;width: 100%;padding: 20px 0;}
			.xgallery_list li{float: left;display: inline;padding:0 5px;background: url('http://static.gtimg.com/icson/img/common/load.gif') no-repeat center center;}
			.xgallery_list img{display: block;width: 200px;}
		.xgallery_status{display: -webkit-box;height: 3px;}
			.xgallery_status i{display: block;height: 100%;-webkit-box-flex:1;background: #dcdcdc;}
			.xgallery_status .current{background: #00a0e9;border-left: 2px solid #fff;border-right: 2px solid #fff;}
			.xgallery_status i:first-child.current{border-left: 0;}
			.xgallery_status i:last-child.current{border-right: 0;}

	.xbiggallery{position: absolute;top:30px;width: 100%;display: none;z-index:1000;}
		.xbiggallery img{display: block;width: 100%;}
		.xbiggallery_wrap{overflow: hidden;background: #fff;max-width: 600px;height:300px;margin: 0 auto;min-height: 300px;}
		.xbiggallery_list{height: 100%;}
			.xbiggallery_list li{float: left;min-height: 300px;display: inline;background: url('http://static.gtimg.com/icson/img/common/load.gif') no-repeat center center;}
		.xbiggallery_status{position: absolute;bottom: 15px;text-align: center;width: 100%;}
			.xbiggallery_status i{display: inline-block;margin:0 5px;width: 8px;height: 8px;border-radius: 10px;background: #fff;border: 1px solid #ccc;}
			.xbiggallery_status .current{background: #00a0e9;}



/*==================== 主要信息 ==================*/
	.xbase{padding:15px 20px;}
	.xattr{zoom:1;}
	.xattr:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.xattr_tit{float: left;width: 40px;line-height: 32px;}
	.xattr_con{overflow: hidden;}

	.xoption{}
		.xoption_val{position:relative;float: left;margin: 0 10px 10px 0;height: 30px;padding: 0 15px;line-height: 30px;background: #f9f9f9;border: 2px solid #dadada;border-radius: 4px;box-shadow:0 1px #fff;}
		.xoption_val:hover{text-decoration: none;}
		.xoption_val_disabled{background: #ebebeb;border: 2px dashed #dadada;cursor: not-allowed;}
		.xoption_val_selected{border-color: #444;}
		.xoption_val_selected:after{position: absolute;right: 0;bottom: 0;content: "";width: 15px;height: 15px;background: url(../img/selected.png) no-repeat;background-size: 15px;}


	.xname{margin-bottom: 5px;font-size: 16px;}
	.xprice{margin-bottom: 5px;}
		.xprice_tit{display: inline-block;vertical-align: middle;margin-right: 5px;}
		.xprice_val{font-size: 20px;color: #c73d00;display: inline-block;vertical-align: middle;}
			.xprice_val i{font-family: arial;margin-right: 3px;}
	.xarea{color: #999;margin-bottom: 15px;}
		.xarea_val{color: #555;}

/*==================== 商品详情 ==================*/
	.xinfo{padding: 10px 20px;}
		.xinfo_item{margin-bottom: 15px;}
		.xinfo_item_tit{margin-bottom: 5px;}


/*==================== 商品评价 ==================*/
	.xcomment_top{padding: 10px 20px;line-height:20px;font-weight: bold;background: #f7f7f7;}
		.xcomment_total{float: left;}
			.xcomment_total_count{color: #a2a2a2;}
			.xcomment_total_count span{color: #555;}
		.xcomment_grade{float: right;}
			.xcomment_grade_score{color: #ff8600;font-size: 18px;margin-left: 5px;}
	.xcomment_list{border-top: 1px solid #dfdfdf;background: #f7f7f7;box-shadow: 0 2px 4px rgba(0,0,0,.05);}
		.xcomment_item{padding: 10px 20px;border-top: 1px solid #fff;border-bottom: 1px solid #dfdfdf;}
			.xcomment_item_ft{color: #a2a2a2;margin-top: 5px;}
				.xcomment_user{float: left;}
				.xcomment_date{float: right;}
	.xcomment_loading{text-align: center;padding: 10px;}



/*==================== 导航条 ==================*/
.xnav{position:fixed;bottom:0;width:100%;height: 40px;background:-webkit-linear-gradient(top,#3c494e,#13181a);border: 1px solid #000;border-width: 1px 0;line-height: 40px;display: -webkit-box;}
	.xnav li{-webkit-box-flex:1;padding-top: 5px;}
	.xnav a{color: #888;}
	.xnav a{display: block;margin-left: 10px;text-align: center;height: 30px;line-height: 30px;}
	.xnav .xnav_buy{position:relative;top:-14px;height:38px;padding-top:10px;margin: 0 0 0 10px;background:-webkit-linear-gradient(top,#ffa211,#f17f11);color: #fff;border: 1px solid #c66100;border-top-left-radius: 5px;border-right: 0;box-shadow: inset 0 2px 0 rgba(255,255,255,.3);}
	.xnav_buy i{display: inline-block;width: 36px;height: 32px;vertical-align: middle;margin-right: 5px;background: url(../img/ico_cart4.png) no-repeat;background-size: 36px;}
	.xnav_buy span{display: inline-block;vertical-align: middle;}
	.xnav .xnav_current{background:-webkit-linear-gradient(top,#616364,#393c3d);color: #fff;border-radius: 3px;}	



/*==================== 遮罩层 ==================*/
.xmask{width: 100%;height: 100%;position: fixed;top: 0;left:0;background: rgba(0,0,0,.5);display: none;z-index:999;}
